################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Individual-Lawyer-Website/.vs/Individual-Lawyer-Website
