@inherits LayoutComponentBase

<div class="page">
   <!-- <div class="page-wrapper">
         <div class="content-container">-->
    <main>
       @Body
    </main>
    <!--  </div>
    </div> -->
</div>

