@page "/"

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Avocat Theodora Anghel - Baroul Cluj</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300;500;700&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Header Start -->
    <div class="container-fluid" id="homeSection">
        <div class="row">
            <div class="col-lg-3 bg-secondary d-none d-lg-block">
                <a href="Index" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                    <img src="img/barou.png" alt="">
                </a>
                
            </div>
            <div class="col-lg-9">
                <div class="row bg-white border-bottom d-none d-lg-flex">
                    <div class="col-lg-7 text-left">
                        <div class="h-100 d-inline-flex align-items-center py-2 px-3">
                            <i class="fa fa-envelope text-primary mr-2"></i>
                            <small>av.theodora.anghel@gmail.com</small>
                        </div>
                        <div class="h-100 d-inline-flex align-items-center py-2 px-2">
                            <i class="fa fa-phone-alt text-primary mr-2"></i>
                            <small>+40 741 664 860</small>
                        </div>
                        <div class="h-100 d-inline-flex align-items-center py-2 px-2">
                            <i class="fa fa-map-marker-alt text-primary mr-2"></i>
                            <small>Cluj-Napoca, str. Borhanciului, nr. 24, bl. D, ap. 5, jud. Cluj</small>
                        </div>
                    </div>
                    <div class="col-lg-5 text-right">
                        <div class="d-inline-flex align-items-center p-2">
                            <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="https://www.facebook.com/theodora.bianca">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg bg-white navbar-light p-0">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <span class="nav-item nav-link" id="homeTrigger" style="cursor: pointer;">Home</span>
                            <span class="nav-item nav-link" id="aboutTrigger" style="cursor: pointer;">Despre mine</span>
                            <span class="nav-item nav-link" id="practiceTrigger" style="cursor: pointer;">Arii de practică</span>
                            <span class="nav-item nav-link" id="contactTrigger" style="cursor: pointer;">Contact</span>
                        </div>
                        <a class="btn btn-primary mr-3 d-none d-lg-block" id="contactTrigger2">Programați o întâlnire</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5 pb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item position-relative active" style="height: 100vh; min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="img/carousel-1.jpg" style="object-fit: cover;">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white mb-4" style="letter-spacing: 3px;">Avocat Theodora Anghel</h4>
                            <a class="btn btn-primary py-3 px-5 mt-2" id="contactTrigger3">Programați o întâlnire</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item position-relative" style="height: 100vh; min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="img/carousel-2.jpg" style="object-fit: cover;">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h3 class="display-2 text-capitalize text-white mb-4">Drept civil</h3>
                            <a class="btn btn-primary py-3 px-5 mt-2" id="contactTrigger4">Programați o întâlnire</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item position-relative" style="height: 100vh; min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="img/carousel-3.jpg" style="object-fit: cover;">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h3 class="display-2 text-capitalize text-white mb-4">Dreptul muncii</h3>
                            <a class="btn btn-primary py-3 px-5 mt-2" id="contactTrigger5">Programați o întâlnire</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item position-relative" style="height: 100vh; min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="img/carousel-4.jpg" style="object-fit: cover;">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h3 class="display-2 text-capitalize text-white mb-4">Drept comercial</h3>
                            <a class="btn btn-primary py-3 px-5 mt-2" id="contactTrigger6">Programați o întâlnire</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item position-relative" style="height: 100vh; min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="img/carousel-5.jpg" style="object-fit: cover;">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h3 class="display-2 text-capitalize text-white mb-4">Drept administrativ</h3>
                            <a class="btn btn-primary py-3 px-5 mt-2" id="contactTrigger7">Programați o întâlnire</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                <div class="btn btn-lg btn-secondary btn-lg-square">
                    <span class="carousel-control-prev-icon"></span>
                </div>
            </a>
            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                <div class="btn btn-lg btn-secondary btn-lg-square">
                    <span class="carousel-control-next-icon"></span>
                </div>
            </a>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- About Start -->
    <div class="container-fluid py-5" id="aboutSection">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-5">
                    <img class="img-fluid" src="img/about.png" alt="">
                </div>
                <div class="col-lg-7 mt-4 mt-lg-0">
                    <h1 class="mb-4">Despre mine</h1>
                    <p>Principiile după care mă ghidez sunt transparența și respectul față de client. Tratez problema fiecărei persoane cu atenția și seriozitatea pe care o așteaptă, dintr-o perspectivă clară și realistă, astfel încât interesele clientului să fie mereu puse în prim plan.</p>
                    <p>Legislația aflată într-o continuă schimbare și cunoștințele specifice pe care o anumită problemă juridică le poate reclama sunt, nu de puține ori, copleșitoare. Ca atare, scopul meu este de a oferi clientului confortul că un specialist în domeniu este alături de el atunci când se angajează într-o luptă pentru protejarea drepturilor sale.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Services Start -->
    <div class="container-fluid py-5" id="practiceSection">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-3">
                    <h1 class="mb-4">Arii de practică</h1>
                    <p>În calitate de avocat, putem acoperi urmatoarele arii de practică:</p>
                </div>
                <div class="col-lg-9 pt-5 pt-lg-0">
                    <div class="bg-primary rounded" style="height: 200px;"></div>
                    <div class="owl-carousel service-carousel position-relative" style="margin-top: -100px; padding: 0 30px;">
                        <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                            <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                                <i class="fa fa-2x fa-landmark"></i>
                            </div>
                            <h5 class="mb-4 px-4">Drept <br> civil</h5>
                            <p class="m-0">•	Redactarea, interpretarea și negocierea contractelor civile (contract de vânzare, închiriere, prestări servicii, execuție lucrări, transport, intermediere etc.).</p>
                            <br>
                            <p class="m-0">•	Reprezentarea persoanelor fizice și juridice în litigii având ca obiect diverse ramuri ale dreptului civil, cum ar fi cele privind angajarea răspunderii civile delictuale sau contractuale, protejarea sau revendicarea proprietății, obținerea de daune interese materiale sau morale, anularea clauzelor abuzive sau nelegale din convențiile civile, succesiune, divorț etc.</p>
                            <br>
                            <p class="m-0">•	Reprezentarea creditorilor, dar și a debitorilor în etapa executării silite și asistarea acestora în fața instanțelor de judecată în procedura contestației la executare.</p>
                            <br>
                            <p class="m-0">•	Consultanță juridică și reprezentare în litigii privind dreptul consumatorului.</p>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                            <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                                <i class="fa fa-2x fa-users"></i>
                            </div>
                            <h5 class="mb-4 px-4">Dreptul muncii</h5>
                            <p class="m-0">•	Asistare și îndrumare pe parcursul procedurii de cercetare disciplinară, atât pentru salariați, cât și pentru angajatori.</p>
                            <br>
                            <p class="m-0">•	Asistență și îndrumare în redactarea actelor specifice raporturilor de muncă (regulament intern, contract colectiv de muncă, contract individual de muncă, decizii emise de angajator în relația cu salariații etc.).</p>
                            <br>
                            <p class="m-0">•	Interpretarea și negocierea clauzelor din contractele individuale sau colective de muncă.</p>
                            <br>
                            <p class="m-0">•	Asistență și reprezentare în litigii având ca obiect conflicte de muncă, cum ar fi cele privind contestarea deciziilor de concediere sau a celor prin care se adoptă orice alte măsuri/sancțiuni împotriva salariatului.</p>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                            <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                                <i class="fa fa-2x fa-hand-holding-usd"></i>
                            </div>
                            <h5 class="mb-4 px-4">Drept comercial</h5>
                            <p class="m-0">•	Operațiuni de îmatriculare în Registrul Comerțului, de înregistrare a modificărilor survenite la nivelul societăților (cesiune de părți sociale, majorare/reducere capital social, cooptare asociați etc.), radiere, precum și orice alte operațiuni supuse publicității.</p>
                            <br>
                            <p class="m-0">•	Consultanță juridică și reprezentare în litigii comerciale vizând executarea, modificarea sau anularea unor hotărâri adoptate de adunarea generală, asociatul unic ori consiliul de administrație al unei societăți, precum și în orice alte litigii care au ca obiect raporturi între profesioniști.</p>
                            <br>
                            <p class="m-0">•	Formularea plângerilor împotriva rezoluțiilor directorului ORC.</p>
                            <br>
                            <p class="m-0">•	Consultanță juridică și reprezentare în litigii privind ajutoarele de stat acordate întreprinderilor mici și mijlocii.</p>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                            <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                                <i class="fa fa-2x fa-users"></i>
                            </div>
                            <h5 class="mb-4 px-4">Drept administrativ</h5>
                            <p class="m-0">•	Formularea plângerilor administrative prealabile prin care se urmărește revocarea unui act administrativ nelegal emis de o autoritate publică, respectiv asistarea și reprezentarea în fața instanțelor de judecată în cadrul acțiunilor în contencios administrativ.</p>
                            <br>
                            <p class="m-0">•	Asistență juridică și reprezentare în litigii vizând legalitatea autorizațiilor de construire și a certificatelor de urbanism, respectiv contestarea măsurilor dispuse de autoritățile publice în ceea ce privește activitatea de construire și amenajare a terenului.</p>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-white pt-5 px-sm-3 px-md-5" style="margin-top: 90px;">
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
                    <i class="fa fa-2x fa-map-marker-alt text-primary"></i>
                    <div class="ml-3">
                        <h5 class="text-white" id="contactMe">Adresa</h5>
                        <p class="m-0">Cluj-Napoca, str. Borhanciului, nr. 24, bl. D, ap. 5, jud. Cluj</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
                    <i class="fa fa-2x fa-envelope-open text-primary"></i>
                    <div class="ml-3">
                        <h5 class="text-white">Email</h5>
                        <p class="m-0">av.theodora.anghel@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
                    <i class="fa fa-2x fa-phone-alt text-primary"></i>
                    <div class="ml-3">
                        <h5 class="text-white">Telefon</h5>
                        <p class="m-0">+40 741 664 860</p>
                    </div>
                </div>
            </div>        
        </div>  
        <div class="row mt-3 justify-content-center">
            <div class="col-lg-4">
                <div class="d-flex justify-content-center p-4" style="background: rgba(255, 255, 255, 0.05);">
                    <i class="fab fa-facebook-f fa-2x text-primary"></i>
                    <div class="ml-3">
                        <h5 class="text-white">Facebook</h5>
                        <p class="m-0">
                            <a href="https://www.facebook.com/theodora.bianca" target="_blank" class="text-white">
                                My Profile
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-4 mt-5 mx-0" style="background: rgba(256, 256, 256, .05);">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <span class="m-0 text-white">&copy; <a class="font-weight-bold" href="#">Avocat Theodora Anghel</a>. Toate drepturile rezervate.</span>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <span class="m-0 text-white">Designed by <a class="font-weight-bold" href="https://htmlcodex.com">HTML Codex</a>, personalized by <a class="font-weight-bold" href="https://www.linkedin.com/in/mircea-christian-albu-54a52016b/">Mircea-Christian Albu</a></span>
            </div>
        </div>        

    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary px-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/scrollToElementGeneric.js"></script>
</body>

</html>
